{% extends "layout.html" %} <!--Template Inheritance from layout.html page-->

<!--This Page Content-->
{% block body%}
<div class="container my-4">
    <h2>Contact Us</h2>
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Email address</label>
        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
    </div>
    <div class="mb-3">

    </div>
    <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">State your Query here</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
        <button class="btn btn-primary my-4">Submit</button>
    </div>
    </div>
    {% endblock %}